@import 'src/styles/reset';
@import 'src/styles/vars';

#app {
  margin: 1em;
  padding: 2em 4em 1em 5em;
  font-family: $main-font;
  font-size: 18px;
  border: 14px solid $main-color;
    
  @include respondTo(wide-phones) {
    font-size: $font-size-resp;
  }
  @include respondTo(phones) {
    font-size: $font-size-resp;
  }
}
